body {
  background: #eee;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  color: #fff;
  padding: 10px;
  background-color: #5C97BF;
  border-radius: 10px 10px 0px 0px;
}

.bg-blue-img {
  background-image: url(../img/bg_blue.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

a, a:href, a:hover, a:link, a:visited {
  color: none;
  text-decoration: none;
}